<!DOCTYPE html>
<!--
    Contains information about the schools that I have attended, major, classes taken, expected graduation date, and so forth.
    Contains pictures of my campus or school.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Images/myfavicon.ico" rel="icon" type="image/x-icon" />
    <title>Education</title>
</head>
<body>
    <header>
        <a href="index.html">Home</a>
        <a href="portfolioPage.html">Portfolio</a>
        <a href="workExpPage.html">Work Experience</a>
    </header>
    <section id="Bio">
        <h2>Education</h2>
        <img src="/Images/devry.jpg" alt="DeVry University, Phoenix, AZ" title="DeVry University, Phoenix, AZ" style="width:500px;height:300px;" />
        <p>
            <strong>DeVry University</strong> – Majoring in Computer Info Systems with a concentration in Web Development & Administration<br />
            July 2016 to Present (Graduating in May 2017)
            Developing skill sets in the following areas,
            <strong>
                <ul>
                    <li>Engineering Tech/Info Sciences</li>
                    <li>Engineering Logic and Design</li>
                    <li>Objectct-Oriented Programming (Java)</li>
                    <li>Computer Archetecture and Operating Systems</li>
                    <li>Critical Thinkng & Prob-Solvng</li>
                    <li>Technical Writing</li>
                    <li>Statistics for Decision-Making</li>
                    <li>Principles Info Sys Security</li>
                    <li>Programming with Lab</li>
                    <li>Project Management</li>
                    <li>Business App Programming w/Lab</li>
                    <li>Web Security</li>
                    <li>Structured Analysis & Design</li>
                    <li>Obj-Oriented Analysis-Design</li>
                    <li>Web Architecture with Lab</li>
                    <li>Web Interface Design with Lab</li>
                </ul>
            </strong>
        </p>
        <img src="/Images/mesa.jpg" alt="Mesa Community College, Mesa AZ" title="Mesa Community College, Mesa AZ" style="width:500px;height:300px;" />
        <p>
            <strong>Mesa Community College</strong> - General Studies<br />
            Janurary 2015 to July 2016
            <strong>
                <ul>
                    <li>Advanced English Composition</li>
                    <li>Calculus and Linear Algebra</li>
                    <li>Interpersonal Communication</li>
                </ul>
            </strong>
        <p />
        <p>
            <strong>Washington High School</strong><br />
            April 2007 - Earned High School Diploma
        <p />
    </section>
</body>
</html>