<!DOCTYPE html>
<!--
    Contains general information about myself, contains a picture. Be sure that you have permission to use the picture.
    Includes at least three text formatting tags, such as heading level, bold (strong), italics (emphasis), and so forth.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Images/myfavicon.ico" rel="icon" type="image/x-icon" />
    <title>Lee's Site</title>
</head>
<body>
    <header>
        <a href="educationPage.html">Education</a>
        <a href="workExpPage.html">Work Experience</a>
        <a href="portfolioPage.html">Portfolio</a>
    </header>
        <h2>Lee's Site</h2>
        <p>
            My name is Lee Owen, and I am a student who is currently studying CIS with a focus in Web Development.<br />
            I work a lot in <strong>C# ASP.NET</strong>, but I have experience with <strong>JAVA</strong> and all the fun stuff with <strong>html, CSS, Java-Script</strong> and so on.
        <p />

        <p>
            For work, I'm currently employed with <i>SMART</i>, which is a school management and record tracking software computer.<br />
            My work takes me down all avenues of I.T., from back end <strong>SQL server installation and maintenance</strong>, to front end web interface development,<br />
            <strong>white box trouble shooting</strong>, and even customer support.
        <p />

        <p>
            On a personal level, I'm a husband and father of two young boys, <strong>Marine Corps. Veteran</strong>, and I like to spend my free time working on various projects,<br />
            getting out doors as much as I can, or just spending time watching movies with the family.
        </p>

    <img src="/Images/V__BB9B.jpg" alt="The Wife and I" title="The Wife and I" style="width:250px;height:300px;" class="round" />

</body>
</html>