<!DOCTYPE html>
<!--
    Contains a list of projects that I have done in your classes.
    Provides some projects that I would like to pursue.
    Later, there will be links to .zip files with my projects, but this is not necessary at this time.
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Images/myfavicon.ico" rel="icon" type="image/x-icon" />
    <title>Portfolio</title>
</head>
<body>
    <header>
        <a href="index.html">Home</a>
        <a href="educationPage.html">Education</a>
        <a href="workExpPage.html">Work Experience</a>
    </header>

    <h2>Portfolio</h2>
    <p>
        In order to keep track and to also display the skills I have been learning, I have set up a few websites for references to my work.<br />
        Here are the links to there different sites for quick access, but you an read below for more details.<br />
        <a href="https://leemichaelo.wixsite.com/mysite" target="_blank">Blog</a>
        <a href="https://app.pluralsight.com/profile/lee-owen" target="_blank">Plural Sight Profile</a>
        <a href="https://github.com/leemichaelo?tab=repositories" target="_blank">GitHub</a>
    </p>
    <p>
        First there is my blog, which is updated on a weekly basis with the things I have been doing in class.<br />
        These topics range establishing a Web Architecture Plan for a company based around the Linux Operating System, <br />
        to Designing and Deploying Web Interfaces.<br />
        <a href="https://leemichaelo.wixsite.com/mysite" target="_blank">Blog</a>
    </p>
    <p>
        Next there is my Plural Sight Profile. While this doesn't show projects I have been working on, I find it a great<br />
        way to show my areas of interest as it shows what I have been studying, how I'm progressing, what I've been the most active in<br />
        and I've found it to be the best source of knowledge on all things computers and beyond.<br />
        <a href="https://app.pluralsight.com/profile/lee-owen" target="_blank">Plural Sight Profile</a>
    </p>
    <p>
        Last, but not least, there is my github profile. Now this is a work in progress, I just recently starting creating repositories for myself<br />
        But I have been using it at work for team collaboration. I'll slowly be adding to this, but if you have any tips or suggestions for it please<br />
        feel free to let me know!<br />
        <a href="https://github.com/leemichaelo?tab=repositories" target="_blank">GitHub</a>
    </p>
</body>
</html>