<!DOCTYPE html>
<!--
    Contains information about my knowledge or skills.
    Provides areas of interest that I would like to pursue (such as mobile development, cloud computing, etc.).
-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/Images/myfavicon.ico" rel="icon" type="image/x-icon" />
    <title>Work Experience</title>
</head>
<body>
    <header>
        <a href="index.html">Home</a>
        <a href="educationPage.html">Education</a>
        <a href="portfolioPage.html">Portfolio</a>
    </header>
    <h2><i>Mission Statement</i></h2>
    <p>
        <strong>
            <i>
                Develop and maintain high levels of team work, project management,<br />
                maximizing the bottom line, and to maintain outstanding client relationships<br />
                and providing a high level of professionalism in the work place.
            </i>
        </strong>
    </p>
    <h2>Work Experience</h2>
    <p>
        <strong>SMART</strong> – Technical Support<br />
        April 2017 to Present<br />
        <ul>
            <li>Helped plan and develop software applictions.</li>
            <li>Conducted White Box Testing.</li>
            <li>Installed and maintained SQL databases.</li>
        </ul>

        <strong>CDW</strong> – Corporate Account Manager<br />
        June 2014 to December 2014<br />
        <ul>
            <li>Directly managed hundreds of different business accounts.</li>
            <li>Coordinated and scheduled business meetings between clients, manufacturers and system engineers in order to solve complex obstacles.</li>
            <li>Collaboration with peers in order to drive success in solution based IT sales.</li>
        </ul>

        <strong>GAMESTOP</strong> – Senior Sales Associate<br />
        October 2012 to June 2014<br />
        <ul>
            <li>Responsible for the business outcome of the store through sales, stock & POS display.</li>
            <li>Possess excellent customer services skills and able to create the “WOW’ experience.</li>
            <li>Received the most completed customer service surveys and increased stores sales by 8% over an eight month period.</li>
            <li>Helped build and increase customer retention.</li>
            <li>Research and analyze new games to prepare for in-store promotions and launch.</li>
        </ul>

        <strong>U.S Marine Corps.</strong> – TEAM LEADER<br />
        June 2007 to June 2011<br />
        <ul>
            <li>Small Unit Leadership.</li>
            <li>Gathering and preparing instructional material for new marines.</li>
            <li>Facilitating orders presented by higher command.</li>
            <li>Ability to operate under highly stressful conditions.</li>
            <li>Experience working with diverse ethnicities.</li>
            <li>Responsible for maintaining and operating military grade equipment.</li>
        </ul>

        <strong>MILITARY SERVICE - June 2007 to June 2011 – HONORABLE DISCHARGE</strong>
    </p>
</body>
</html>