<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Experience VR</title>
</head>
<body>
    <header>
        <h1>Experience VR</h1>
        <p>A simple blog about virutal reality experiences.</p>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="/View/article.html">Articles</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <p>
        Virtual Reality is becoming well known as a form of
        entertainment, but it is also finding its way into fields like
        education, industial design, healthcare and so much more!
    </p>

    <a href="https://teamtreehouse.com/vr" target="_blank">Start Your VR Journey</a>

    <section>
        <h2>About this site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula metus in bibendum laoreet. Aenean libero est, egestas eu eros pretium, sodales iaculis est.</p>
    </section>

    <section>
        <h2>Latest VR Articles</h2>

        <article>
            <h3>How Schools Use Virtual Reality to Improve Education</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices euismod turpis eget porta. Etiam nulla massa, pretium et massa nec, ornare dignissim nisi.</p>
            <a href="/View/article.html">Read More</a>
        </article>

        <article>
            <h3>The Advantages of VR Simulation</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices euismod turpis eget porta. Etiam nulla massa, pretium et massa nec, ornare dignissim nisi.</p>
            <a href="/View/article.html">Read More</a>
        </article>
    </section>

    <section>
        <aside>
            <h3>Top VR Resources</h3>
            <ol>
                <li><a href="https://uploadvr.com/10-week-vr-unity-education/" target="_blank">Learn to create education experiences in VR</a></li>
                <li><a href="https://www.vrs.org.uk/virtual-reality-applications/entertainment.html" target="_blank">Virtual Reality in Entertainment</a></li>
                <li><a href="https://www.roadtovr.com/scaffolding-in-vr-interaction-design-for-easy-intuitive-stacking-and-assembly/" target="_blank">Interact with builings and products in VR</a></li>
                <li><a href="https://iq.intel.com/social-vr-will-change-social-media/" target="_blank">Use VR for teleconference and social media</a></li>
            </ol>
        </aside>
    </section>

    <section>
        <h2>Contact</h2>
        <p>Email us at coolvrexperience@gmail.com</p>
    </section>

    <footer>
        <p>&copy;2018 Experience VR, The Blog</p>
    </footer>
</body>
</html>