<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Experience VR</title>
</head>

<body>
    <div>
        <header>
            <h1>Experience VR</h1>
            <p>A simple blog about virutal reality experiences.</p>

            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="/View/article.html">Articles</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

        <div>
            <p>
                Virtual Reality is becoming well known as a form of
                entertainment, but it is also finding its way into fields like
                education, industial design, healthcare and so much more!
            </p>

            <a href="https://teamtreehouse.com/vr" target="_blank">Start Your VR Journey</a>
        </div>

        <main>
            <section>
                <h2>About this site</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vehicula metus in bibendum laoreet. Aenean libero est, egestas eu eros pretium, sodales iaculis est.</p>
            </section>

            <section>
                <h2>Latest VR Articles</h2>

                <article>
                    <header>
                        <h3>How Schools Use Virtual Reality to Improve Education</h3>
                        <p>By: Nick Pettit</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices euismod turpis eget porta. Etiam nulla massa, pretium et massa nec, ornare dignissim nisi.</p>
                    <a href="/View/article.html">Read More</a>
                    <footer>Published June 12th, 2018</footer>
                </article>

                <article>
                    <header>
                        <h3>The Advantages of VR Simulation</h3>
                        <p>By: Nick Pettit</p>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ultrices euismod turpis eget porta. Etiam nulla massa, pretium et massa nec, ornare dignissim nisi.</p>
                    <a href="/View/article.html">Read More</a>
                    <footer>Published June 19th, 2018</footer>
                </article>
            </section>

            <section>
                <h2>Contact</h2>
                <p>Email us at coolvrexperience@gmail.com</p>
            </section>
        </main>

        <section>
            <aside>
                <h3>Top VR Resources</h3>
                <ol>
                    <li><a href="https://uploadvr.com/10-week-vr-unity-education/" target="_blank">Learn to create education experiences in VR</a></li>
                    <li><a href="https://www.vrs.org.uk/virtual-reality-applications/entertainment.html" target="_blank">Virtual Reality in Entertainment</a></li>
                    <li><a href="https://www.roadtovr.com/scaffolding-in-vr-interaction-design-for-easy-intuitive-stacking-and-assembly/" target="_blank">Interact with builings and products in VR</a></li>
                    <li><a href="https://iq.intel.com/social-vr-will-change-social-media/" target="_blank">Use VR for teleconference and social media</a></li>
                </ol>
                <blockquote>
                    "Virtual reality was once the dream of science fiction. But the internet was also once a dream, and so were computers and smartphones. The future is coming."
                    <footer>
                        - <cite><a href="https://www.facebook.com/zuck/posts/10101319050523971">Mark Zuckerberg</a></cite>
                    </footer>
                </blockquote>
            </aside>
        </section>

        <footer>
            <p>&copy;2018 Experience VR, The Blog</p>
        </footer>
    </div>
</body>
</html>